:root {
  --color-yellow: #FFD918;
  --color-green: #92C543;
  --color-green: #769C5D;
  --color-cream: #FEFDFC;
  --color-white: #FFFFFF;
  --color-gray: #EBEBEB;
  --color-black: #222222;
  --color-gray: #A3A69E;
  --color-saturday: #6B8FAF;
  --color-sunday: #C87878;
}