
:root {
	--color-yellow: #FFD93F;
	--color-light-green: #F1F2E9;
	--color-dark-green: #6A7F39;
	--color-cream: #F7F6F1;
	--color-white: #FFFFFF;
	--color-gray: #EBEBEB;
	--color-black: #222222;
	--color-gray: #A3A69E;

	--color-saturday: #6B8FAF;
	--color-sunday: #C87878;

	--font-ephesis: "Ephesis", cursive;
}
